
.red-card {
	color: red;
	background-color: #9dbeee;
	text-align: center;
    padding: 1em 0;
	
}
.black-card {
	color:black;
	background-color: #9dbeee;
	text-align: center;
	padding: 1em 0;
	/* text-align: center;
	padding: 1em 0;
	всем ячекам таблицы устанавливаем выравнивание
	по цетнру по горизонтали и внутренний отступ сверху
	и снизу
   */
    
}
table.poker {
	text-align:left;
	width: 20%;
	empty-cells:hide;
	/*border: 1px solid #4f14f1; - рамка вокруг таблицы*/

	
}
	

