.color1 {
    background-color: rgb(247, 194, 203); 
    padding: 10px 5px 10px 5px;
}
li {
    list-style-type: none;
    background-color: rgb(214, 73, 214);
    margin: 5px 10px;
}

.color2 {
    background-color: rgb(214, 73, 214);
    text-align: center;
    color:aliceblue;
    padding-left: 10px;
    padding-right: 4px;
}
.color3 {
    width: 100px;
    background-color: rgb(185, 16, 135);
    margin: 10px 100px 10px 10px;
    list-style-type: none;
    color:aliceblue;
}
